.App {
  text-align: center;
}

body {
  background-image: url("./Assets/cityscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 70px;
  background-color: white;
}

#earth {
  height: 55px;
  width: 55px;
  float: left;
  margin: 5px;
  margin-left: 10px;
}

#title {
  text-align: center;
  margin-top: 15px;

}

.footer {
  bottom: 0;
  background-color: white;
  width: 100%;
  position: absolute;
  height: 60px;
  text-align: center;
}

.footNote {
  margin-top: 4px;
  font-size: 12px;
}
